.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.venv
venv
models
output
input
user
workflows
*.safetensors
*.ckpt
*.pt
*.pth
*.onnx
*.bin
*.gguf
*.zip
*.tar
*.tar.gz
*.7z
*.mp4
*.mov
*.png
*.jpg
*.jpeg
